{% extends 'base.html.twig' %}

{% block title %}Hello SalleController!{% endblock %}

{% block body %}

{# <h1>Ajouter une salle</h1>
<form method='post' action="/salle/add">
<div class='form-group'>
    <label for='title'>Title</label>
    <input type='text' id='nom' name='nom' class='form-control' required>
    <input type='number' id='capacite' name='capacite' class='form-control' required>
    <input type='submit' value='Ajouter' class='btn btn-success'>
    </div>
</form> #}


 <section class="section">
      <div class="row">
     

        <div class="col-lg-12">

        

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">AJOUTER UNE SALLE</h5>

              <!-- Floating Labels Form -->
              <form class="row g-12" method='post' action="/salle/add">
              
               
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingSalle" placeholder="Capacite de la salle" name="capacite">
                      <label for="floatingCity">Capacie</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect" aria-label="State" name="nom">
                      <option selected value="S1">S1</option>
                      <option value="A2">A2</option>
                      <option value="S6">S6</option>
                       <option value="S13">S13</option>
                        <option value="S14">S14</option>
                         <option value="A22">A22</option>
                          <option value="A23">A23</option>
                           <option value="A31">A31</option>
                            <option value="A41">A41</option>
                             <option value="S32">S32</option>
                              <option value="S33">S33</option>
                    </select>
                    <label for="floatingSelect">State</label>
                  </div>
                </div>
              
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Ajouter</button>
                  {# <button type="reset" class="btn btn-secondary">Annuler</button> #}
                </div>
              
              </form><!-- End floating Labels Form -->
               
            </div>
          </div>

        </div>
      </div>
    </section>

{% endblock %}
