{% extends 'base.html.twig' %}

{% block title %}Hello SalleController!{% endblock %}

{% block body %}

<h1>Ajouter une salle</h1>
<form method='post' action="/salle/add">
<div class='form-group form-group-lg mt-6 col-md-4'>
    <label for='title'>Nom de la salle</label>
    <input type='text' id='nom' name='nom' class='form-control' required>
    <label for='title'>Capacité de la salle</label>
    <input type='number' id='capacite' name='capacite' class='form-control' required>
    <input type='submit' value='Ajouter' class='btn btn-success mt-3'>
    </div>
</form> 




{% endblock %}
